<head id="header">
    <title>TravelTense</title>

    <meta name="author" content="Ghergu Nicolae-Marius">
    <meta charset="UTF-8">
    <meta name="keywords" content="travel, calatorii, story, aventura, distractie, peisaje, poze"">
    <meta name="description" content="TravelTense este un website creat pentru a observa cele mai frumoase peisaje din lume.">


    <link rel="shortcut icon" href="/resurse/imagini/favicon/favicon.ico" type="image/x-icon"/>



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/resurse/imagini/favicon/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/resurse/css/layout.css" type="text/css">
    <link rel="stylesheet" href="/resurse/css/nav.css" type="text/css"/>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">


    <!--
    <link rel="stylesheet" href="/resurse/css/general.css" type="text/css"/>
    <link rel="stylesheet" href="/resurse/css/nav.css" type="text/css"/>
    <link rel="stylesheet" href="/resurse/css/galerie-statica.css" type="text/css"/>
    <link rel="stylesheet" href="/resurse/css/nav-500.css" type="text/css" media="screen and (max-width:650px)"/>
    <link rel="stylesheet" href="/resurse/css/general-1200.css" type="text/css" media="screen and (max-width:1200px)"/>
    <link rel="stylesheet" href="/resurse/css/general-500.css" type="text/css" media="screen and (max-width:500px)"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
-->



</head>