<!DOCTYPE html>
<html lang="ro">
    <%- include("../fragmente/head.ejs") %>
    <%- include("../fragmente/header.ejs") %>
    <body>
    <main>
        <div id="grid-pagina">
            <section id="acasa">
                <div id="container">
                    <div id="text">
                        Bine ati venit!
                        <div id="text-reflectat">
                            Bine ati venit!
                        </div>
                    </div>
                </div>

                <hr>
                <p class="intro-sec1">Vă mulțumim că ne vizitați site-ul. Aici veți găsi informații foarte folositoare daca doriți să călătoriți și încă nu v-ați decis unde.</p>
                <p class="intro-sec2">Vizionare placută!</p>
            </section>
            <section id="regiuni">
                <h2>Regiuni</h2>
                <p class="regiuni-sec1">Poate cea mai frumoasă priveliște pe care ți-o dorești vedea este cum lumea se schimbă, în funcție poziția geografică.</p>
                <p class="regiuni-sec2">Profită de această secțiune pentru a viziona superbele peisaje pe baza regiunii în care se află.</p>
                <ul>
                    <li><div class="regiuni-li1">Regiuni disponibile:</div></li>
                    <li><a href="regiune-africa">Africa</a></li>
                    <li><a href="regiune-america">America</a></li>
                    <li><a href="regiunie-asia">Asia</a></li>
                    <li><a href="regiune-europa">Europa</a></li>
                    <li><a href="regiune-oceania">Oceania</a></li>
                    <li><a href="regiune-polii">Polii</a></li>
                    <li><a href="regiune-oceanele-terrei">Oceanele Terrei</a></li>
                </ul>

                <section id="regiune-america">
                    <h3>Regiunea America</h3>
                    <p class="regiune-america-descriere1"><b>Regiunea America</b> este una din cele mai mari regiuni de pe Terra. Ea se întinde pe o suprafață de aproximativ <em>42 milioane de km pătrați</em>.</p>
                    <p class="regiune-america-descriere2">De asemenea, are și cel mai mare canion și cel mai cunosc din lume. Știai? Acesta se numește <b>'Marele Canion'</b>!</p>
                    <p class="regiune-america-descriere3">Mai multe informații despre regiune se pot găsi aici:
                        <a target="_blank" href="https://www.gimnaziu.info/america-tari-si-capitale">Detalii Regiunea America</a>
                    </p>
                    <picture>
                        <source style="width: 45%; height: 45%" srcset="resurse/imagini/regiuni/America-de-Nord-America-de-Sud.jpeg" media="(max-width 500px)"/>
                        <source style="width: 60%; height: 60%" srcset="resurse/imagini/regiuni/America-de-Nord-America-de-Sud.jpeg" media="(max-width 500px)"/>
                        <source style="width: 100%; height: 100%" srcset="resurse/imagini/regiuni/America-de-Nord-America-de-Sud.jpeg" media="(max-width 1200px)"/>
                        <img src="resurse/imagini/regiuni/America-de-Nord-America-de-Sud.jpeg" alt="Poză cu harta regiunea America">
                    </picture>
                    <p>Află mai multe despre această regiune și pe Wikipedia:</p>
                    <iframe src="https://ro.wikipedia.org/wiki/America" style="border: 50px solid red;" title="Wikipedia - Regiunea America"></iframe>
                    <p>Totuși, nu-i așa că ți-am citit gândurile? Exact! Iată și despre <b>Descoperirea Americii</b></p>
                    <p>Poate unul dintre faimoasele subiecte despre care ai auzit!</p>
                    <iframe src="https://ro.wikipedia.org/wiki/Descoperirea_Americii" style="border: 50px solid red;" title="Wikipedia - Descoperirea Americii"></iframe>

                    <p>Descarcă imaginea care reprezintă harta regiunii America de aici: <a target="_blank" href="../../public/resurse/imagini/regiuni/America-de-Nord-America-de-Sud.jpeg" download>Download</a></p>


                </section>
            </section>
            <section id="online">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorum eaque quam sapiente tenetur. Minus.</section>
            <section id="dashboard">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorum eaque quam sapiente tenetur. Minus.</section>
            <section id="statistics">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorum eaque quam sapiente tenetur. Minus.</section>
            <section id="events">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorum eaque quam sapiente tenetur. Minus.</section>
            <section id="tabel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorum eaque quam sapiente tenetur. Minus.</section>
            <section id="anunturi">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorum eaque quam sapiente tenetur. Minus.</section>
            <section id="diverse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorum eaque quam sapiente tenetur. Minus.</section>
        </div>
    </main>
    <%- include("../fragmente/footer.ejs") %>
    </body>
</html>