<footer>
    <a href="#acasa" title="mergi sus">Mergi sus</a>
    <p><a href="tel:+40777777777">Sună-ne dacă dorești informații suplimentare!</a></p>
    <p><a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355393,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867">
            Dorești să ne vizitezi? Vino la locația corespunzătoare!
        </a></p>
    <p><a href="https://api.whatsapp.com/send?phone=+4077777777">Trimite-ne un mesaj!</a></p>

    <small><time datetime="2022-10-17">17 octombrie 2022</time>&copy; Pagina aparține în totalitate persoanei fizice Ghergu Nicolae-Marius, iar copierea informației nu este permisă. </small>
    <a href="#" id="link-top"><div id="triunghi"></div></a>
</footer>