<header>
    <h1>Travel <span>Tense</span></h1>
    <nav>
        <ul class="meniu">
            <li><a href="acasa">Acasa</a></li>
            <li><a href="regiuni">Regiuni</a>
                <ul>
                    <li><a href="regiune-africa">Africa</a></li>
                    <li><a href="regiune-america">America</a></li>
                    <li><a href="regiune-asia">Asia</a></li>
                    <li><a href="regiune-europa">Europa</a></li>
                    <li><a href="regiune-oceania">Oceania</a></li>
                    <li><a href="regiune-polii">Polii</a></li>
                    <li><a href="regiune-oceanele-terrei">Oceanele Terrei</a></li>
                </ul>
            </li>
            <li><a href="favorite">Favorite</a></li>
            <li><a href="sugestii">Sugestii</a></li>
            <li><a href="cont">Cont</a>
                <ul>
                    <li><a href="inregistrare">Inregistrare</a></li>
                    <li><a href="autentificare">Autentificare</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>